[user]
	name = RoTokyo
	email = roberto.calesini@gmail.com
[credential]
	helper = osxkeychain
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
	editor = codium -w
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	sslVerify = false
