Desktop.ini
Thumbs.db
bower_components
node*
npm_modules
npm-debug.log
package-lock.json
Gemfile.lock
Icon?
ehthumbs.db
_asset_bundler_cache

.DS_Store
.Spotlight-V100
.Trashes
.sass-cache
.tmp
.jekyll*
*.codekit
*.sketch
*.pyc
._*
*.diff
*.err
*.log
*.orig
*.rej
*.swn
*.swo
*.swp
*~
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
